@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 40px;
  /* background: red; */
}

#nav-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#nav-part1 #circle {
  height: 20px;
  width: 20px;
  background: #000;
  border-radius: 50%;
}

#nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#nav-part2 h4 {
  font-size: 16px;
  font-weight: 600;
}

#nav-part2 h4 span {
  margin-left: 15px;
  color: #8f8d8d;
}

#nav-part2 h5 {
  display: none;
}

/* nav part 2 */
#nav-2 {
  display: flex;
  padding: 0 40px;
  height: 40px;
  align-items: center;
  gap: 60px;
}

#nav-2 h3 {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 600;
}

#content {
  height: calc(100% - 100px);
  width: 100%;
}

#text-content {
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#text-content::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
}

#text-content::-webkit-scrollbar-thumb {
  background-color: orangered;
}

#text-content .elem {
  flex-shrink: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-content .elem h1 {
  /* font-size: 100px; */
  font-size: 6vw;
  font-weight: 300;
  margin: 0;
  line-height: 1;
}

#image-content {
  height: 60%;
  width: 100%;
  background: red;
}

#image-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 600px) {
  #nav {
    padding: 0 20px;
  }

  #nav-part1 #circle {
    height: 13px;
    width: 13px;
    background: #000;
    border-radius: 50%;
  }

  #nav-part2 {
    gap: 20px;
  }

  #nav-part2 h4 {
    display: none;
  }

  #nav-part2 h4:first-child {
    display: initial;
    font-size: 14px;
  }

  #nav-part2 h5 {
    display: initial;
    font-size: 20px;
  }

  #nav-part2 h4 span {
    margin-left: 6px;
  }

  /* nav part 2 */
  #nav-2 {
    padding: 0 20px;
    gap: 7px;
    flex-wrap: wrap;
    height: 50px;
  }

  #nav-2 h3 {
    font-size: 3.6vw;
  }

  #content {
    height: calc(100% - 110px);
    width: 100%;
  }

  #text-content {
    height: 35%;
  }

  #text-content::-webkit-scrollbar {
    height: 4px;
  }

  #text-content .elem {
    width: fit-content;
    margin-right: 20px;
  }

  #text-content .elem h1 {
    font-size: 20vw;
  }

  #image-content {
    height: 65%;
  }
}
